<!DOCTYPE html>
<html>
  <head>
    <title>Sypto - Automated trading Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
<body>
  {% include 'nav.html' %}
  <div class="container">
  <h1 class="text-center mt-2 mb-4">
    <div style="margin-top:70px" class="p-3 mb-2 bg-dark text-white">Welcome To Sypto</div>
  </h1>
  <img style= "padding-top:0" class="img-fluid" id="banner" src="static/Sypto.gif">
  <div class="container"></div>
  <h1 class="text-center mt-2 mb-4">
    <div class="p-3 mb-2 bg-dark-subtle text-emphasis-dark"> <a href="https://www.sypto.xyz" class="link-success">About Sypto</a></div> 
  </h1>
  <div class="row" style="margin-bottom:32px" background-image: var(--bs-.bg-success.bg-gradient)>
        
      <p class="lead" class="text-center">
       We are a team of Investors, Founder, Developer & Designer, who are on a mission to bring advanced technology in the world of investing, so that each & everyone could invest in crypto, risk-free with absolute peace of mind. Say goodbye to your traditional investments and invest in crypto with Sypto.
      </p>
  <div class="container">
   
      <p class="lead" class="text-center">
      In Future crypto currencies likely to become the bridge two currencies to facilitate faster, more affordable cross-border transactions around the world as they are more accessible alternative to traditional banking and to move different currencies around the world. Sypto has came with different approach and cutting edge technologies to make things easy for you. We have different trading strategies based on your choice viz., <a href="https://www.sypto.xyz/athenatop5" class="link-success">Athena Top 5</a>,<a href="https://www.sypto.xyz/athenatop10" class="link-success">Athena Top 10</a> and you can customize your portfolio for trading with our alogrithm trading bot <a href="https://www.sypto.xyz/athenatop10" class="link-success">Athena custom</a> and you can invest in <a href="https://www.sypto.xyz/#sip" class="link-success">Crypto SIPs</a> as well.
      </p>

        </div>
  
    
    <div style= "margin-top:100px"  class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary btn-sm" href = "mailto:invest@sypto.xyz?subject= Directed from Raju's Website">Contact us</a>
     {% include "footer.html" %}
    </div>
</body>
</html>